<div
  class="group flex h-auto w-16 items-center justify-center gap-2 sm:w-28 sm:gap-3"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    height="107"
    viewBox="0 0 85 107"
    width="85"
    class="relative translate-y-1"
    ><g fill="#17191e"
      ><path
        d="m27.5893 91.1365c-4.8338-4.4187-6.245-13.703-4.231-20.4293 3.492 4.2408 8.3305 5.5842 13.3422 6.3425 7.7369 1.1702 15.3353.7325 22.5226-2.8038.8222-.4049 1.5821-.9432 2.4805-1.4885.6744 1.9566.8499 3.9318.6143 5.9422-.5727 4.8961-3.0093 8.6782-6.8847 11.5452-1.5497 1.1468-3.1895 2.1719-4.79 3.2531-4.917 3.3234-6.2473 7.2201-4.3997 12.8881.0439.139.0832.277.1825.614-2.5105-1.124-4.3443-2.76-5.7416-4.911-1.4758-2.2697-2.1779-4.7809-2.2148-7.4981-.0185-1.3223-.0185-2.6564-.1963-3.96-.4342-3.1782-1.9262-4.6012-4.7369-4.6831-2.8846-.0842-5.1664 1.6991-5.7715 4.5076-.0462.2153-.1132.4283-.1802.6787z"
      ></path><path
        d="m0 69.5866s14.3139-6.9729 28.6678-6.9729l10.8223-33.4933c.4052-1.6197 1.5882-2.7205 2.9238-2.7205s2.5186 1.1008 2.9238 2.7205l10.8224 33.4933c17 0 28.6677 6.9729 28.6677 6.9729s-24.3133-66.23427-24.3608-66.36716c-.6978-1.95824-1.8759-3.21944-3.4641-3.21944h-29.1755c-1.5882 0-2.7187 1.2612-3.464 3.21944-.0526.13039-24.3634 66.36716-24.3634 66.36716z"
      ></path></g
    ></svg
  >
  <svg
    xmlns="http://www.w3.org/2000/svg"
    enable-background="new 0 0 109.5 124.5"
    viewBox="0 0 109.5 124.5"
    ><path
      d="m74.7 14.8s-1.4.4-3.7 1.1c-.4-1.3-1-2.8-1.8-4.4-2.6-5-6.5-7.7-11.1-7.7-.3 0-.6 0-1 .1-.1-.2-.3-.3-.4-.5-2-2.2-4.6-3.2-7.7-3.1-6 .2-12 4.5-16.8 12.2-3.4 5.4-6 12.2-6.7 17.5-6.9 2.1-11.7 3.6-11.8 3.7-3.5 1.1-3.6 1.2-4 4.5-.6 2.5-9.7 73-9.7 73l75.6 13.1v-109.7c-.4.1-.7.1-.9.2zm-17.5 5.4c-4 1.2-8.4 2.6-12.7 3.9 1.2-4.7 3.6-9.4 6.4-12.5 1.1-1.1 2.6-2.4 4.3-3.2 1.7 3.6 2.1 8.5 2 11.8zm-8.1-15.9c1.4 0 2.6.3 3.6.9-1.6.8-3.2 2.1-4.7 3.6-3.8 4.1-6.7 10.5-7.9 16.6-3.6 1.1-7.2 2.2-10.5 3.2 2.1-9.5 10.2-24 19.5-24.3zm-11.7 55c.4 6.4 17.3 7.8 18.3 22.9.7 11.9-6.3 20-16.4 20.6-12.2.8-18.9-6.4-18.9-6.4l2.6-11s6.7 5.1 12.1 4.7c3.5-.2 4.8-3.1 4.7-5.1-.5-8.4-14.3-7.9-15.2-21.7-.8-11.5 6.8-23.2 23.6-24.3 6.5-.4 9.8 1.2 9.8 1.2l-3.8 14.4s-4.3-2-9.4-1.6c-7.4.5-7.5 5.2-7.4 6.3zm23.8-40.3c0-3-.4-7.3-1.8-10.9 4.6.9 6.8 6 7.8 9.1-1.8.5-3.8 1.1-6 1.8z"
    ></path><path
      d="m78.1 123.9 31.4-7.8s-13.5-91.3-13.6-91.9-.6-1-1.1-1-9.3-.2-9.3-.2-5.4-5.2-7.4-7.2z"
    ></path></svg
  >
  <svg
    data-sanity-icon="sanity-monogram"
    height="100%"
    viewBox="0 0 192 192"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    width="100%"
    ><rect width="192" height="192" fill="#FF5500"></rect><path
      d="M160.077 112.697L154.865 103.629L129.659 118.981L157.655 83.3368L161.888 80.8533L160.841 79.2802L162.764 76.8232L153.929 69.4699L149.886 74.6225L68.2657 122.375L98.4429 86.0855L154.651 55.2759L149.311 44.953L118.696 61.7277L133.771 43.6096L125.134 36L91.2055 76.7966L57.5083 95.2771L83.307 61.1709L99.4731 52.757L94.3391 42.3192L47.2403 66.8361L60.0839 49.8405L51.1123 42.6551L24 78.5378L24.4207 78.8736L29.486 89.1877L59.543 73.5354L32.1474 109.745L36.6375 113.342L39.3075 118.504L70.9528 101.154L36.1052 143.065L44.742 150.674L46.4762 148.588L130.543 99.2454L102.632 134.792L103.088 135.172L103.045 135.199L108.831 145.265L145.954 122.649L131.659 145.716L141.24 152L164 115.278L160.077 112.697Z"
      fill="#0D0E12"></path></svg
  >
</div>
